<!DOCTYPE html>
<html lang="en">

<head th:replace="~{frags :: head(${pizza.id} == 0 ? 'Create a new pizza' : 'Edit a pizza')}"></head>

<body class="bg-light">
    <div class="container mb-5">
        <div th:replace="~{frags :: logo_navbar}"></div>
        <div class="row mb-4 d-flex align-items-center justify-content-between">
            <div class="col">
                <h1>[[${pizza.id} == 0 ? 'Create a new pizza' : 'Edit a pizza']]</h1>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="/" type="button" class="btn btn-dark rounded-0">Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post"
                    class="d-flex flex-column justify-content-start align-items-start gap-3 w-100 shadow p-5 bg-white"
                    th:object="${pizza}">
                    <!--/*
                    <input type="hidden" 
						th:name="${_csrf.parameterName}" 
						th:value="${_csrf.token}" />
                    */-->

                    <div class="w-100">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control rounded-0 w-100" name="name" id="name"
                            aria-describedby="nameHelpId" placeholder="margherita" th:field="*{name}">
                        <small id="nameHelpId" class="form-text text-muted">Type the name of the pizza</small>
                        <div class="mt-3" th:if="${#fields.hasErrors('name')}">
                            <ul class="alert alert-danger rounded-0 d-flex flex-column justify-content-start gap-3">
                                <li class="ms-3" th:each="err : ${#fields.errors('name')}">[[${err}]]</li>
                            </ul>
                        </div>
                    </div>

                    <div class="w-100">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control rounded-0 w-100" name="description" id="description"
                            aria-describedby="descriptionHelpId" placeholder="lorem ipsum" th:field="*{description}">
                        <small id="descriptionHelpId" class="form-text text-muted">Type the description of the
                            pizza</small>
                        <div class="mt-3" th:if="${#fields.hasErrors('description')}">
                            <ul class="alert alert-danger rounded-0 d-flex flex-column justify-content-start gap-3">
                                <li class="ms-3" th:each="err : ${#fields.errors('description')}">[[${err}]]</li>
                            </ul>
                        </div>
                    </div>

                    <div class="w-100">
                        <label for="picture" class="form-label">Picture URL</label>
                        <input type="text" class="form-control rounded-0 w-100" name="picture" id="picture"
                            aria-describedby="pictureHelpId" placeholder="http://picsum.photos/600/600"
                            th:field="*{picture}">
                        <small id="pictureHelpId" class="form-text text-muted">Type the picture URL of the
                            pizza</small>
                        <div class="mt-3" th:if="${#fields.hasErrors('picture')}">
                            <ul class="alert alert-danger rounded-0 d-flex flex-column justify-content-start gap-3">
                                <li class="ms-3" th:each="err : ${#fields.errors('picture')}">[[${err}]]</li>
                            </ul>
                        </div>
                    </div>

                    <div class="w-100">
                        <label for="price" class="form-label">Price</label>

                        <input type="number" class="form-control rounded-0 w-100" min="0.00" step=".01" name="price"
                            id="price" aria-describedby="priceHelpId" th:field="*{price}">
                        <small id="priceHelpId" class="form-text text-muted">Type the price of the
                            pizza</small>
                        <div class="mt-3" th:if="${#fields.hasErrors('price')}">
                            <ul class="alert alert-danger rounded-0 d-flex flex-column justify-content-start gap-3">
                                <li class="ms-3" th:each="err : ${#fields.errors('price')}">[[${err}]]</li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-3 align-self-end">
                        <button type="submit" class="btn btn-outline-dark rounded-0">
                            [[${pizza.id == 0 ? 'Create' : 'Update'}]]
                        </button>
                        <button type="reset" class="btn btn-outline-danger rounded-0">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>